.portfolio{
  background-color: bisque;
  height: 100vh;
  width: 100vh;
  align-content: center;
}

.featured_photo {
  display: flex;
  border: 5px red;
  background-color: black;
}

.project{
  display: inline-block;
  background-color: black;
  color: white;
  border: 3px solid #9c9c78;
  margin: 5px;
  height: 100px;
  width: 300px;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #9c9c78;
}

